---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/Hero.astro";

import Expirience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import Footer from "@/components/Footer.astro";
import { DEFAUL_TITLE_PAGE, DEFAUL_DESCRIPTION_PAGE } from "@/utils/config";
---

<Layout title={DEFAUL_TITLE_PAGE} description={DEFAUL_DESCRIPTION_PAGE}>
  <main class="flex flex-col gap-16">
    <Hero />
    <Expirience />
    <Projects />
    <Footer />
  </main>
</Layout>
