---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/Hero.astro";

import Expirience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="My Portfolio" description="My Portfolio">
  <main class="flex flex-col gap-16">
    <Hero />
    <Expirience />
    <Projects />
    <Footer />
  </main>
</Layout>
